.navbar {
		margin: 0 auto;
	}

	.navbar input {
		width: 60%;
		border-radius: 30px;
		outline: double;
		border: solid 3px blue;
		padding-left: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
		margin-left: 20px;
	}

	.navbar a {
		margin-left: 10px;
		margin-right: 5px;
		font-size: 20px;
		color: black;
		background-color: aliceblue;
		width: 100px;
	}

	.navbar a[id="searchText"] {
		background-color: darkslateblue;
		color: whitesmoke;
	}

	.navbar a:hover {
		background-color: aquamarine;
	}

		.playText h4 {
		margin: 50px 0px 20px 0px;
		font-size: 30px;
	}

	.playText input[id="keywords"] {
		margin-left: 20px;
		padding-left: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
		border: groove;
	}

	.playText p {
		margin-top: 20px;
	}

	.playText button[id="addText"] {
		background-color: green;
		color: whitesmoke;
		margin-left: 20px;
		border-radius: 30px;
	}

	.playText button:hover {
		background-color: orangered;
	}

	.playText p {
		margin-left: 20px;
	}

	.text-muted{
   		opacity: 0.3;
   		font-size: 20px;
	}